.character {
	width: 200px;
	border: solid;	
	text-align: center;
}

.playerIcon {

	border: solid;
	border-color: yellow;
	text-align: center;

}

#playerIconContainer {

	border: solid;
	border-color: orange;
	position: absolute;
	right: 100px;
	width: 600px;
	display: grid;
	grid-template-columns: 200px 200px 200px;
}

#container {

	position: absolute;
	width: 500px;
	height: 500px;
	border: solid;
	border-color: black;
}

#gameLogContainer {

	width: 100%;
	bottom: 350px;
	border: solid;
	border-color: red;
}

#gameLog {
	
	border: solid;
	border-color: green;
	
}

#buttonContainer {

	border: solid;
	border-color: teal;
	position: absolute;
	top: 250px;
	right: 600px;
}

#controlsContainer {

	border: solid;
	border-color: blue;
}

#optionsContainer {

	border: solid;
	border-color: purple;
}